body { 
 font-family: arial, tahoma, verdana, serif;
 font-size: 12pt;
 line-height: 1.5em;
 background-color: pink;
}

h1{
    font-size: 250%;
    text-align: center;
}

.pochylony {
     font-style: italic;
}

.pogrubiony {
    font-weight: bold;
}

li {
   font: normal 16px/24px serif;
}

.tekst1 {
     color: #EE2432;
}

.tekst2 {
     color: #16E476;
}

h2{
    text-align: center;
}
