body {
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height: 1.5em;
    background-color: black;
    color: white;
}
img {
    border: 5px solid pink;
} /*0,0,0,1*/
#header img {
   border: 8px solid green 
} /*0,0,1,1*/
.header img {
    border: 8px solid blue;
} /*0,1,0,1*/
div#header{
    border-color: yellow;
}
#header {
    padding-top: 50px;
    border-top: 40px dashed red;
}
.header {
    padding: 20px;
    border: 10px solid red;
    margin: 15px;
    }
h1{
    font-size: 250%;
}

.pochylony {
    font-style: italic;
}

.pogrubiony {
    font-weight: bold;
}

li {
    font: italic 16px/24px arial, serif;
}

.tekst1{
    color: #8612BE;
}
.tekst2{
    color: #FFFF00;
}
p{
    color: white;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

