body { 
 font-family: arial, tahoma, verdana, serif;
 font-size: 12pt;
 line-height: 1.5em;
 background-color: pink;
}
#header img {
    border: 8px solid blue; /*0,0,1,0*/
}
    

img{
   border: 5px solid black;
   }
.header img {
    border: 8px solid yellow;
}
 
div#header{
 border-color: red;
}

#header {
    padding-top: 50px;
    border-top: 40px dashed blue;
}
    

.header {
    padding: 20px;
    border: 10px solid red;
    margin: 15px; 
}

h1{
    font-size: 250%;
    text-align: center;
}

.pochylony {
     font-style: italic;
}

.pogrubiony {
    font-weight: bold;
}

li {
   font: normal 16px/24px serif;
}

.tekst1 {
     color: #EE2432;
}

.tekst2 {
     color: #16E476;
}

h2{
    text-align: center;
}
