{% extends "szablon.html" %}
{% block tytul %}Quiz - Odpowiedz na pytania{% endblock %}
{% block h1 %}Quiz - Odpowiedz na pytania{%  endblock %}


{% block tresc %}
    <div id="komunikaty">
        {% with komunikaty = get_flashed_messages(with_categories = true) %}
        {% if komunikaty %}
            {% for kategoria, komunikat in komunikaty %}
            <p class="{{ kategoria }}">{{komunikat}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    
    </div>
    {% endblock %}
