{% extends "szablon.html" %}
{% block tytul %}Quiz - Odpowiedz na pytania{% endblock %}
{% block h1 %}Quiz - Odpowiedz na pytania{%  endblock %}


{% block tresc %}
    
    <form method="POST">
    
    {% for p in query %}
    <p>
        {{ p.id }} {{ p.pytanie }}<br>
        <br>
        {% for o in p.odpowiedzi %}
        
        <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
        {{ o.odpowiedz }}
        <br>
        {% endfor %}
        
    </p>
    {% endfor %}
    <input type="submit" value="Zapisz odpowiedzi">
    </form>
{% endblock %}
